In [1]:
import numpy as np
import pandas as pd

In [2]:
books=pd.read_csv('BX-Books.csv',sep=';' ,encoding='latin-1',on_bad_lines='skip')

C:\Users\Kirankumar Gangoor\AppData\Local\Temp\ipykernel_29056\1771913443.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('BX-Books.csv',sep=';' ,encoding='latin-1',on_bad_lines='skip')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books=books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [5]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [6]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [7]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [8]:
books

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [9]:
users=pd.read_csv('BX-Users.csv',sep=';' ,encoding='latin-1',on_bad_lines='skip')

In [10]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [12]:
users.rename(columns={'User-ID':'id','Location':'location','Age':'age'},inplace=True)

In [13]:
users.head(2)

   id                   location   age
0   1         nyc, new york, usa   NaN
1   2  stockton, california, usa  18.0

In [14]:
ratings=pd.read_csv('BX-Book-Ratings.csv',sep=';' ,encoding='latin-1',on_bad_lines='skip')

In [15]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [16]:
ratings.rename(columns={'User-ID':'id','Book-Rating':'rating'},inplace=True)

In [17]:
ratings

             id         ISBN  rating
0        276725   034545104X       0
1        276726   0155061224       5
2        276727   0446520802       0
3        276729   052165615X       3
4        276729   0521795028       6
...         ...          ...     ...
1149775  276704   1563526298       9
1149776  276706   0679447156       0
1149777  276709   0515107662      10
1149778  276721   0590442449      10
1149779  276723  05162443314       8

[1149780 rows x 3 columns]

In [18]:
books.shape

(271360, 5)

In [19]:
users.shape

(278858, 3)

In [20]:
ratings.shape

(1149780, 3)

In [21]:
x=ratings['id'].value_counts()>200

In [22]:
y=x[x].index

In [23]:
ratings=ratings[ratings['id'].isin(y)]

In [24]:
ratings.shape

(526356, 3)

In [25]:
rating_with_books=ratings.merge(books,on='ISBN')

In [26]:
rating_with_books.head()

,id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [27]:
number_of_ratings=rating_with_books.groupby('title')['rating'].count().reset_index()

number_of_ratings.head()

In [28]:
number_of_ratings.rename(columns={'rating':'number of ratings'},inplace=True)

In [29]:
number_of_ratings.head()

                                               title  number of ratings
0   A Light in the Storm: The Civil War Diary of ...                  2
1                              Always Have Popsicles                  1
2               Apple Magic (The Collector's series)                  1
3   Beyond IBM: Leadership Marketing and Finance ...                  1
4   Clifford Visita El Hospital (Clifford El Gran...                  1

In [30]:
final_rating=rating_with_books.merge(number_of_ratings,on='title')

In [31]:
final_rating.shape

(487671, 8)

In [32]:
final_rating=final_rating[final_rating['number of ratings']>=50]

In [33]:
final_rating.shape

(61853, 8)

In [34]:
final_rating.drop_duplicates(['id','title'],inplace=True)

In [35]:
final_rating.shape

(59850, 8)

In [36]:
book_pivot=final_rating.pivot_table(columns='id',index='title',values='rating')

In [37]:
book_pivot.head()

id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN

In [38]:
book_pivot.fillna(0,inplace=True)

In [39]:
book_pivot.head()

id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [40]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [41]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [49]:
from sklearn.neighbors import NearestNeighbors

In [50]:
model=NearestNeighbors(algorithm='brute')

In [53]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [65]:
distances , suggestions=model.kneighbors(book_pivot.iloc[45,:].values.reshape(1,-1), n_neighbors=6)

In [66]:
distances

array([[ 0.        , 40.27406113, 40.42276586, 41.94043395, 42.07136794,
        42.29657197]])

In [67]:
suggestions

array([[ 45, 536, 184, 589, 185, 686]], dtype=int64)

In [68]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Along Came a Spider (Alex Cross Novels)', 'The Cradle Will Fall',
       'Exclusive', 'The Killing Game: Only One Can Win...and the Loser Dies',
       'Executive Orders (Jack Ryan Novels)',
       'Tom Clancy's Op-Center (Tom Clancy's Op Center (Paperback))'],
      dtype='object', name='title')

In [69]:
book_pivot.index[45]

'Along Came a Spider (Alex Cross Novels)'

In [99]:
def recommender_books(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances , suggestions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
    for i in range(len(suggestions)):
        if i==0:
            print('The Suggested Books for {}:'.format(book_name))
        if not i:
            print(book_pivot.index[suggestions[i]])

In [100]:
recommender_books('Animal Farm')

The Suggested Books for Animal Farm:
Index(['Animal Farm', 'Exclusive', 'Jacob Have I Loved', 'Second Nature',
       'Pleading Guilty', 'No Safe Place'],
      dtype='object', name='title')